@model IEnumerable<ShiftDetail>

@{
    ViewData["Title"] = "Shift Details";
}

<h1>Shift Details</h1>

<p>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaskType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskStartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskEndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TaskType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsCompleted)
                </td>
                <td>
                    @if (User?.Identity?.IsAuthenticated == true)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <text>  |  </text>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        <text>  |  </text>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
